#introText {
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    color: black;
}
#titleScreen{
 position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  color: black;text-align: center;
  max-width: 600px;
}
